/* Semba mixins*/

@mixin menu-bar-button {
  button{
    height:                      $menu-button-height;
    width:                       $menu-button-width;
  }
}

@mixin no-scroll {
	overflow:                          hidden;
}