<div class="page">
	<h1>Button Groups</h1>

	<h2>Button Group</h2>
	<label-panel label="Example">
		<div class="button-group">
			<a href="#">Fist</a>
			<a href="#">Middle</a>
			<a href="#">Last</a>
		</div>
	</label-panel>

	<h2>Vertical Group</h2>
	<label-panel label="Example">
		<div class="button-group-vertical">
			<a href="#">Fist</a>
			<a href="#">Middle</a>
			<a href="#">Last</a>
		</div>
	</label-panel>

	<h2>Block group</h2>
	<label-panel label="Example">
		<div class="button-group-block">
			<a href="#">Fist</a>
			<a href="#">Middle</a>
			<a href="#">Middle</a>
			<a href="#">Last</a>
		</div> 
	</label-panel>

	<h2>Tabbed group</h2>
	<label-panel label="Example">
		<div class="button-group-tab">
			<a href="#" class="active-tab">Tab 1</a>
			<a href="#">Tab 2</a>
			<a href="#">Tab 3</a>
		</div>
	</label-panel>

	<h2>Pagination</h2>
	<label-panel label="Example">
		<div class="button-group-paging">
			<a href="#">first</a>
			<a href="#">1</a>
			<a href="#">2</a>
			<span>...<span>
			<a href="#">50</a>
			<a href="#">last</a>
		</div>
	</label-panel>
	
</div>