<div class="page">

	<h1>Forms</h1>

	<h3>Labels</h3>
	<label-panel label="Example">
		<ul class="labels">
			<li>
				<label class="label">label!</label>
	    </li>
			<li>
				<label class="label-default">Default!</label>
	    </li>
			<li>
				<label class="label-primary">Primary!</label>
	    </li>
	    <li>
				<label class="label-info">Info!</label>
	    </li>
	    <li>
				<label class="label-success">Success!</label>
	    </li>
	    <li>
				<label class="label-warning">Warning!</label>
	    </li>
	    <li>
				<label class="label-danger">Danger!</label>
	    </li>
		</ul>
	</label-panel>
	

	<label-panel label="Example">
		<form class="form">
		  <div>
		    <label for="text">Text Field</label>
		    <input type="text" placeholder="Text">
		  </div>

		  <div>
		    <label for="inputPassword">Password Field</label>
		    <input type="password" id="inputPassword" placeholder="Password">
		  </div>

		  <div>
	      <label>
	        Checkbox <input type="checkbox"> 
	      </label>
		  </div>
		  <div>
		  	<label>
		  		Radio 1
		  	  <input type="radio" name="sex" value="male">
		  	</label>
		  	<label>
		  		Radio 2
	        <input type="radio" name="sex" value="female">
	      </label>
		  </div>
		  <div>
		  	<select>
				  <option value="Select 1">Select 1</option>
				  <option value="Select 2">Select 2</option>
				  <option value="Select 3">Select 3</option>
				  <option value="Select 4">Select 4</option>
				</select>
		  </div>
		  <div>
		  	<textarea>Text area</textarea>
		  </div>
		  	<button type="submit">Submit</button>
		  </div>
		</form>
	</div>

</label-panel>