<div class="page">
	<h1>Navigation and Menus</h1>

	<h2>Navigation</h2>
	<label-panel label="Example">
		<div class="nav">
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		</div>
	</label-panel>

	<h2>Navigation stacked</h2>
	<label-panel label="Example">
		<div class="nav-stacked">
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		</div>
	</label-panel>

	<h2>Navigation pill</h2>
	<label-panel label="Example">
		<div class="nav-pill">
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		</div>
	</label-panel>

	<h2>Navigation pill stacked</h2>
	<label-panel label="Example">
		<div class="nav-pill-stacked">
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		  <a href="#">Link</a>
		</div>
	</label-panel>

</div>