<div class="page">
	<h1>Panels</h1>

	<h2>Panel</h2>
	<label-panel label="Example">
		<div class="panel">
			Panel
		</div>
	</label-panel>

	<h2>Well</h2>
	<label-panel label="Example">
		<div class="well">
			well
		</div>
	</label-panel>

	<h2>Alerts</h2>
	<label-panel label="Example">
		<div class="alert-info">
			<strong>Note:</strong> Additional info you might need.
		</div>
		<div class="alert-success">
			<strong>Done!</strong> Awesome you did it :)
		</div>
		<div class="alert-danger">
			<strong>Error!</strong> Oops, something went wrong there.
		</div>
		<div class="alert-warning">
			<strong>Warning!</strong> Now that's not really a good idea is it?
		</div>
	</label-panel>
	
	<h2>Label Panel</h2>
	<label-panel label="Example">
	  <label-panel label="Label">
		  <p>Panel</p>
		</label-panel>
	</label-panel>
</div>