<div class="page">
  <h1>Tables</h1>
	
	<h2 name="styles">Table</h2>
	<label-panel label="Example">
		<table class="table">
			<thead>
				<tr>
					<td>Header 1</td>
					<td>Header 2</td>
					<td>Header 3</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
			</tbody>
		</table>
	</label-panel>

	<h2 name="styles">Table bordered</h2>
	<label-panel label="Example">
		<table class="table-bordered">
			<thead>
				<tr>
					<td>Header 1</td>
					<td>Header 2</td>
					<td>Header 3</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
			</tbody>
		</table>
	</label-panel>

	<h2 name="styles">Table stripped</h2>
	<label-panel label="Example">
		<table class="table-stripped">
			<thead>
				<tr>
					<td>Header 1</td>
					<td>Header 2</td>
					<td>Header 3</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
			</tbody>
		</table>
	</label-panel>

	<h2 name="styles">Table hover</h2>
	<label-panel label="Example">
		<table class="table-hover">
			<thead>
				<tr>
					<td>Header 1</td>
					<td>Header 2</td>
					<td>Header 3</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
			</tbody>
		</table>
	</label-panel>

	<h2 name="styles">Table condensed-condensed</h2>
	<label-panel label="Example">
		<table class="table-condensed">
			<thead>
				<tr>
					<td>Header 1</td>
					<td>Header 2</td>
					<td>Header 3</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
			</tbody>
		</table>
	</label-panel>

	<h2 name="styles">Table combined</h2>
	<label-panel label="Example">
		<table class="table-combined">
			<thead>
				<tr>
					<td>Header 1</td>
					<td>Header 2</td>
					<td>Header 3</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
				<tr>
					<td>Cell 1</td>
					<td>Cell 2</td>
					<td>Cell 3</td>
				</tr>
			</tbody>
		</table>
	</label-panel>

</div>