<div class="page">
	<h1>Typography</h1>

	<h2 name="headings">Headings</h2>
	<label-panel label="Example">
		<h1 class="mh1">Mega heading 1</h1>
		<span class="smh1">Sub mega heading 1</span>
		<h1 class="mh2">Mega heading 2</h1>
		<span class="smh2">Sub mega heading 2</span>
		<h1>Heading 1</h1>
		<span class="sh1">Sub heading 1</span>
		<h2>Heading 2</h2>
		<span class="sh2">Sub heading 2</span>
		<h3>Heading 3</h3>
		<span class="sh3">Sub heading 3</span>
		<h4>Heading 4</h4>
		<span class="sh4">Sub heading 4</span>
		<h5>Heading 5</h5>
		<span class="sh5">Sub heading 5</span>
		<h6>Heading 6</h6>
		<span class="sh6">Sub heading 6</span>
	</label-panel>
  


	<h2>Body copy</h2>

	<h3>Normal text</h3>
	<label-panel label="Example">
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
	</label-panel>

	<h3>Indent Paragraph</h3>
	<label-panel label="Example">
		<p>
			Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
	</p>
	<p>
	    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
		</p>
	</label-panel>

	<h3>Bold text</h3>
	<label-panel label="Example">
		<p>
			<strong>This text is bold text</strong>.
		</p>
	</label-panel>

	<h3>Italic text</h3>
	<label-panel label="Example">
		<p>
			<em>This text is italic text</em>.
		</p>
	</label-panel>

	<h3>Small text</h3>
	<label-panel label="Example">
		<p>
			<small>This text is small text</small>.
		</p>
	</label-panel>

	<h2 name="#abbr">Hypertext</h2>
	<label-panel label="Example">
		<ul class="hypertext">
			<li>
				This is a 
				<a href="#" class="">Normal</a>
				link.
			</li>
			<li>
				This is a 
				<a href="#" class="visited">Visited</a>
				link.
			</li>
			<li>
				This is a 
				<a href="#" class="hover">Hover</a>
				link.
			</li>
			<li>
				This is a 
				<a href="#" class="active">Active</a>
				link.
			</li>
		</ul>
	</label-panel>

	<h2 name="#abbr">Abbreviation text</h2>
	<label-panel label="Example">
		<p>This is an 
			<abbr title="Abbreviation">
				abbr
			</abbr>.
		</p>
	</label-panel>


	<h2 name="#abbr">Preserved text</h2>
	<label-panel label="Example">
<pre>This preserves
both      spaces and
line breaks.</pre>
	</label-panel>

	<h2>Quotes</h2>

  <h3>Single line block quote</h3>
	<label-panel label="Example">
		<figure class="block-quote">
			<blockquote>It is the unofficial force—the Baker Street irregulars.</blockquote>
			<figcaption>Sherlock Holmes, <cite>Sign of Four</cite></figcaption>
		</figure>
	</label-panel>

	<h3>Mulit line block quote</h3>
	<label-panel label="Example">
		<figure class="block-quote">
			<blockquote>
				<p>
					Not only does the spec for figure perfectly align with our needs, it even comes with the convenient figcaption element; a perfect container for our citation. I’ve given the figure a class because there are other kinds of figures — images, tables, etc etc. 
				</p>
				<p>
					There are other details from the spec that we could have adopted (such as the optional cite attribute for the blockquote), but I wanted to keeps things simple for the folks marking up our articles.
				</p>
			</blockquote>
			<figcaption>TIM MURTAUGH<cite><a href="http://alistapart.com/blog/post/more-thoughts-about-blockquotes-than-are-strictly-required">More Thoughts About Blockquotes</a></cite></figcaption>
		</figure>
	</label-panel>

	<h3>Pull quote</h3>
	<label-panel label="Example">
		<aside class="quote">
			<blockquote>It is the unofficial force—the Baker Street irregulars.</blockquote>
		</aside>
	</label-panel>

	<h2>Lists</h2>

	<h3>Unordered list</h3>
	<label-panel label="Example">
		<ul>
			<li>Unorderd list item</li>
			<li>Unorderd list item</li>
			<li>Unorderd list item</li>
			<li>Unorderd list item</li>
			<li>Unorderd list item</li>
		</ul>
	</label-panel>

	<h3>Ordered list</h3>
	<label-panel label="Example">
		<ol>
			<li>Ordered list item</li>
			<li>Ordered list item</li>
			<li>Ordered list item</li>
			<li>Ordered list item</li>
			<li>Ordered list item</li>
		</ol>
	</label-panel>

	<h3>Unstyled list</h3>
	<label-panel label="Example">
		<ul class="unstyled-list">
			<li>Unstyled list item</li>
			<li>Unstyled list item</li>
			<li>Unstyled list item</li>
			<li>Unstyled list item</li>
			<li>Unstyled list item</li>
		</ul>
	</label-panel>

	<h3>Inline list</h3>
	<label-panel label="Example">
		<ul class="inline-list">
			<li>Inline list item</li>
			<li>Inline list item</li>
			<li>Inline list item</li>
			<li>Inline list item</li>
			<li>Inline list item</li>
		</ul>
	</label-panel>

	<h3>Descprition list</h3>
	<label-panel label="Example">
		<dl>
			<dt>Term</dt>
				<dd>I'm a description</dd>
				<dd>I'm a description</dd>
			<dt>Term</dt>
				<dd>I'm a description</dd>
				<dd>I'm a description</dd>
		</dl>
	</label-panel>

	<h3>Inline description</h3>
	<label-panel label="Example">
		<dl class="descrption-inline">
			<dt>Term</dt>
				<dd>: Here's a description</dd>
			<dt>Term</dt>
				<dd>: Here's a description</dd>
		</dl>
	</label-panel>

	<h3>Ordered description</h3>
	<label-panel label="Example">
		<dl class="descrption-ordered">
			<dt>Term</dt>
				<dd>This is an ordered description</dd>
				<dd>This is an ordered description</dd>
			<dt>Term</dt>
				<dd>This is an ordered description</dd>
				<dd>This is an ordered description</dd>
		</dl>
	</label-panel>

	<h3>Numbered description</h3>
	<label-panel label="Example">
		<dl class="description-numbered">
			<dt>Hey I'm numbered</dt>
				<dd>Description</dd>
				<dd>Description</dd>
			<dt>Hey I'm numbered</dt>
				<dd>Description</dd>
				<dd>Description</dd>
		</dl>
	</label-panel>
	
	<h3>Address</h3>
		<label-panel label="Example">
		<address>
		  <strong>Semba Ltd</strong><br>
		  44 My Road<br>
		  London, NW67 1DD<br>
		  United Kingdom
		</address>
 
		<address>
		  <strong>Full Name</strong><br>
		  Email:<a href="mailto:#">user.name@example.com</a><br>
		  <abbr title="Telephone number">T:</abbr> 020 7714 9999<br>
		  <abbr title="Mobile number">M:</abbr> 07891 787 S985<br>
		</address>
	</label-panel>

	
</div>

